* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 65.2%;

    --ff-heading: font-family: 'Epilogue', sans-serif;
    --ff-text: font-family: 'Roboto', sans-serif;
    --ff-btn: font-family: 'Poppins', sans-serif;

    --bg-btn: rgb(73, 62, 109);
    --bg-btn-hv: rgb(37, 31, 56);
    --fc-btn: white;

    --bg-screen: rgba(148, 139, 139, 0.473);
}

body {
    position: relative;
    overflow: hidden;

    background-image: url(img/backgroundMorning.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*CONTAINER -> SECTION .LIST*/

.container {
    margin: 20rem auto;
    width: 60rem;
    height: 67.8vh;
}

.list {
    display: grid;
    flex-direction: column;
    gap: 2rem;
}

h1, h2 {
    text-align: center;

    font-size: 3.6rem;
    font-family: var(--ff-heading);
    font-weight: 500;

    border-bottom: var(--bg-screen) solid 1px;
}

.list ul {
    font-size: 1.6rem;
    margin-left: 1.5rem;
}

p {
    font-size: 2.8rem;
    font-family: var(--ff-text);
    font-weight: 500;
}

/*DIV-WRAPPER / CHECKBOX*/

.divWrapper {
    display: flex;
    align-items: center;
    gap: 5rem;
 }

#showBtnStart {
    width: 8rem;
}

input[type="checkbox"] {
    position: relative;

    width: 5rem;
    height: 2rem;

    outline: none;
    box-shadow: inset 0 0 5px var(--bg-screen);
    border: solid 1px black;
    border-radius: 35%;
    -webkit-appearance: none;

    transition: .2s;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    left: 2px;

    width: 1.5rem;
    height: 1.5rem;

    border-radius: 50%;
    border: 1px solid #5e3f0e;
    background: #f5b349;

    transform: scale(1.2);
    transition: .2s;
}

input:checked[type="checkbox"]::before {
    left: 3rem;
    background: linear-gradient(to right, white, black);
}

input:checked[type="checkbox"] {
    background: linear-gradient(to right, gray, black);
}

/*DIV SCREEN OPERATION*/

.screenOperation {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;

    position: absolute;
    top: 6rem;
    width: 40rem;
    margin-left: 10rem;
 
    background: var(--bg-screen);
}

.screenOperation input, label {
    width: 50%;
}

.screenOperation label {
    font-size: 1.8rem;
}

.screenOperation input {
    width: 6rem;
}

.buttonsScreenCalc {
    display: flex;
    gap: 27.6rem;
    justify-content: space-evenly
}

.hide {
    display: none;
}

/*BUTTON STYLE*/

button {
    background: var(--bg-btn);
    color: var(--fc-btn);
    border: none;
    font-family: var(--ff-btn);
    font-size: 1.8rem;

    padding: 1%;
}

button:hover {
    background: var(--bg-btn-hv);
}

/*SCREENR RESULT*/

.screenResult {
    position: absolute;
    top: 6rem;

    margin-left: 10rem;
    width: 40rem;

    background: var(--bg-screen);
}

.screenResult ol, ul {
    font-size: 1.6rem;
    font-family: var(--ff-text);
    list-style: none;
    line-height: 2.5rem;
}

.screenResult ul {
    margin-top: 1rem;
}

.screenResult #turnStart {
    margin-top: 1.5rem;
}

/*media 600px*/

@media (max-width: 600px){
    main {
        margin: auto 10rem + 5vw;
    }
    h1, h2, p{
        font-size: 5vw;
    }
    .container{
        width: 40rem;
    }
    .screenOperation, .screenResult{
        margin-left: 0;
    }
}